.contact{
    position: absolute;
    left: 0px;
    margin-left: 230px;
    width: 870px;
    transform: translateY(30px);
}
.page-name-contact{
    width: 870px;
    display: flex; flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.list-redes{
    display: flex;
    justify-content: space-between;
}
.mail, .redes{
    display: flex;

    .title-redes{
        text-align: center;
        font-family: $font-titulos;
        color: $color-text;
        margin-top: 30px;
        font-size: 20px;
    }
    
    li{
        list-style: none;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .contact{
        margin: 0;
        left: unset;
        width: 380px;
        transform: translateY(75px);
    }

    .page-name-contact{
        width: 100%;
    }

    .redes{
        .title-redes{
            text-align: unset;
        }
    }

    .list-redes{
        flex-direction: column;
    }

    .mail, .redes{
        justify-content: space-between;
    }
}