/* Main colours */
$color1: #A09DA5;
$color2: #CFAFB5;
$color3: #EEBCBE;
$color4: #FFDECD;
$color-text: #403D45;
$color-button-hover: #f5d6c6;
$color-background: #FAFAFA;

/* Fonts */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Rubik', sans-serif;

/* Shadows */
$shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);