/* Main colours */
$color1: #b5838d;
$color2: #6d6875;
$color3: #e5989b;
$color4: #ffb4a2;
$color5: #ffcdb2;
$color-text: #403D45;
$color-button: #ffdecd;
$color-button-hover: #f5d6c6;

/* Fonts */
$font-principal: 'Rubik', sans-serif;
$font-titulos: 'Inclusive Sans', sans-serif; 

/* Shadows */
$shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);