.backgroundWork{
    background-color: $color-background;
    width: 100%; height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .circle4{
        width: 350px;         
        height: 310px;      
        background-color: $color1; 
        border-radius: 50%; 
        filter: blur(100px);  
        position: absolute;
        transform: translate(200%, -50%);
    }
}

.proyects{
    display: flex;
    width: 100%; height: 65%;
    
    .proyects-left{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 65%;
        width: 50%;
        overflow: hidden;
    
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 0 50px 0 0;
        }
    }

    .proyects-right{
        width: 50%;
        position: absolute;
        right: 0;

        .proyect-name{
            display: flex; flex-direction: column;
            align-items: flex-start;
            width: 60%;
            margin-left: 20%;
            
            .page-name{
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                .titlePw{                    
                    font-family: $font-titulos;
                    font-size: 50px;
                    -webkit-text-stroke: 1px $color-text;
                    color: transparent;
                    margin: 0;
                }

                .number-proyect{
                    font-family: $font-principal;
                    font-size: 24px;
                    margin: 0;
                    margin-bottom: 5px;
                    align-self: flex-end;
                }

            }

            .proyect-list{
                width: 100%;

                .proyect-items{
                    display: flex; flex-direction: column;
                    width: 100%;
                    padding: 0; margin: 0;
            
                    li{
                        list-style: none;
                        cursor: pointer;
                    }
            
                    .item{
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: space-between;

                        .verMas {
                            position: absolute;
                            top: 45%;
                            right: 0;
                            display: flex;
                            align-items: center;
                            transform: translateY(-50%) translateX(-100%);
                            opacity: 0;
                            transition: transform 0.3s ease, opacity 0.3s ease;
                            text-decoration: none;
                            color: $color-text;
                            font-family: $font-principal;
                            font-size: 15px;
                        }
            
                        h4{
                            text-align: center;
                            font-family: $font-principal;
                            color: $color-text;
                            font-size: 15px;
                        }
            
                        p{
                            align-self: center;
                            text-align: center;
                            font-family: $font-principal;
                            color: $color-text;
                            font-size: 15px;
                            transition: opacity 0.3s ease, transform 0.3s ease;
                        }

                        &:hover {
                            p {
                                opacity: 0;
                                transform: translateX(100%);
                            }
                    
                            .verMas {
                                opacity: 1;
                                transform: translateY(-30%) translateX(0);
                            }
                        }
                    }
                }
            }
        }
    }
}
.separator{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none;
    border-top: solid 1px $color-text;
}
.imgPoput{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.imgPoput.mostrar{
    display: block;
    opacity: 1;
}

/* @media (max-width: 768px) {
    .backgroundWork{
        .circle4{
            transform: none;
        }
    }

    .proyects{
        height: 80%;
        flex-direction: column;

        .proyects-left{

            img{
                border-radius: 30px;
                margin: 5%;
                width: unset;
                height: 30%;
            }
        }

        .proyects-right{
            width: unset;
            position: unset;
        }
    }
} */