@import "variables";
@import "buttons";
@import "home";
@import "work";
@import "contact";
@import "about";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');


.container{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0; padding: 0;
}

.fondo{ /* circulos */
    width: 100%;
    height: 100vh;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Puntero del mouse */
.custom-pointer {
    display: flex; justify-content: center; align-items: center;
    position: absolute;
    z-index: 3;
    width: 25px; height: 25px;
    background-color: transparent; /* Color del círculo del puntero */
    border-radius: 50%; /* Forma de círculo */
    border: 1px solid #A09DA5;
    pointer-events: none; /* Evita que el puntero personalizado afecte la interacción con otros elementos */
    transform: translate(-50%, -50%); /* Ajusta el centro del círculo al puntero del mouse */
    transition: transform 0.2s; /* Agrega una transición suave */

    .inner-circle{
        width: 5px; height: 5px; 
        background-color: #A09DA5; /* Color del círculo interno */
        border-radius: 50%; /* Forma de círculo */
    }    
}

/* Menu */
.boton-menu{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 50px; height: 50px;
    z-index: 1;

    .menu, .cerrar{
        padding: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;

        .icons-style{
            width: 50px; height: 50px;
            fill: none;
            stroke: #606887;
            stroke-width: 20px;
            display: block;
            transition: transform 0.3s ease;
        }
        

        .boton-cerrar{
            width: 50px; height: 50px;
            fill: none;
            stroke: #606887;
            stroke-width: 20px;
            display: block;
            position: absolute;
            right: 10%;
            top: 10%;
            transition: transform 0.3s ease;
        }

        &:hover{
            .icons-style, .boton-cerrar{
                transform: rotate(45deg);
            }
        }
    }
}

/* NavBar */
.navBar{
    z-index: 2;
    display: none; 
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    background-color: $color5;

    .navBar-list{
        list-style: none;
        position: absolute;
        top: 22%; left: 28%;
        padding: 0; margin: 0;
    }

    li{
        margin-bottom: 10px;
        font-family: $font-principal;
        font-size: 70px;
        text-align: left;
        
        span{
            font-family: $font-titulos;
            font-size: 20px;
            margin: 15px;
        }
    }

    a{
        text-decoration: none;
        color: black;

/*         &:hover{
            text-decoration: underline;
        } */
    }
}

@media only screen and (max-width: 600px) {
    .navBar{
        .navBar-list{
            top: 280px; left: 40px;
        }
    }

    .container{
        overflow: auto;
    }
}