.fondo{
    width: 100%;
    height: 100vh;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    -webkit-text-stroke: 0.5px #403D45;
    color: transparent;
}
.titulo2{
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    color: #403D45;
    font-size: 15px;
}
.titulo3{
    font-family: 'Rubik', sans-serif;
    color: #403D45;
    position: absolute;
    z-index: 1;
    top: 223px;
    left: 621px;
}
.titulo4{
    font-family: 'Rubik', sans-serif;
    color: #403D45;
    position: absolute;
    z-index: 1;
    top: 261px;
    left: 808px;
}

/* span{
    font-family: 'DynaPuff';
    -webkit-text-stroke: 0px black;
    color: black;
} */

.botonrosa1{
    background-color: #ffdecd;
    height: 38px;
    width: 191px;
    border: none;
    border-radius: 19px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #403D45;
}